version: "3.9"

services:
  app:
    build:
      context: .
    image: ghcr.io/nooblk-98/php-nginx:latest
    user: "www-data:www-data"
    ports:
      - "80:80"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    restart: unless-stopped
    volumes:
      - ./src:/var/www/html:rw
